


@mixin flex-row {
    display: flex !important;
    flex-direction: row !important;
}

@mixin flex-column {
    display: flex !important;
    flex-direction: column !important;
}


body {
    font-family: "Montserrat", sans-serif;
    background-color: #F7F7FE;
}

.monthly {
    left: calc(100% - 29px) !important;
}




main {
    text-align: center;
    padding: 64px 24px 71px 24px;
    box-sizing: border-box;

    header {

        h1 {
            font-size: 32px;
            font-weight: 700;
            color: #6E728E;
            margin-bottom: 40px;
        }

        .annually-monthly--div {
            @include flex-row();
            align-items: center;
            justify-content: center;
            gap: 15px;
            

            .toggle--div {
                width: 53px;
                height: 32px;
                background-color: #A2A7F0;
                border-radius: 33px;
                position: relative;
    
                .toggle--circle {
                    width: 24px;
                    height: 24px;
                    background-color: #F7F7FE;
                    border-radius: 50%;
    
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 5px;
                    transition: all 0.2s;
                }
    
            }


            p {
                font-size: 15px;
                font-weight: 700;
                color: rgba(110, 114, 142, 0.5);
            }
        }

    }


    .price-cards--container {
        max-width: 600px;
        margin: auto;
        margin-top: 80px;

        .price-card--card {
            background-color: #fff;
            box-shadow: 0px 20px 40px 0px rgba(212, 210, 244, 0.50);
            border-radius: 10px;
            padding: 31px 29px;
            box-sizing: border-box;
            margin-bottom: 32px;

            &:last-child {
                margin: 0px;
            }

            p {
                font-size: 18px;
                font-weight: 700;
                color: #6E728E;
                margin-bottom: 24px;
            }

            strong {
                font-size: 72px;
                font-weight: 700;
                color: #4A4D60;
                @include flex-row();
                align-items: center;
                justify-content: center;
                gap: 5px;
                margin-bottom: 32px;

                span {
                    font-size: 40px !important;
                }
            }

            ul {
                margin-bottom: 32px;

                li {
                    width: 100%;
                    height: 53px;
                    border-top: 1px solid #6E728E;
                    @include flex-row();
                    align-items: center;
                    justify-content: center;

                    font-size: 15px;
                    font-weight: 700;
                    color: #6E728E;

                    &:last-child {
                        border-bottom: 1px solid #6E728E;
                    }
                }
            }

            button {
                width: 100%;
                height: 44px;
                border-radius: 6px;
                background: linear-gradient(135deg, #A2A7F0 0%, #696EDD 100%);

                color: #fff;
                font-size: 13px;
                font-weight: 700;
                border: none;
                cursor: pointer;
                letter-spacing: 1.3px;
            }


        }

        .pink--card {
            background: linear-gradient(135deg, #A2A7F0 0.06%, #696EDD 100.06%);
            background-color: red;

            p {
                color: #fff;
            }

            strong {
                color: #fff;
            }

            ul {
                li {
                    color: #fff;
                    border-top: 1px solid #fff;

                    &:last-child {
                        border-bottom: 1px solid #fff;
                    }
                }
            }

            button {
                background: #fff;
                color: #6D72DE;
            }
        }
    }
}






@media (min-width: 1024px) {
    
    main {

        .price-cards--container {
            max-width: 1050px;
            display: flex;
            gap: 20px;
    
            .price-card--card {
                margin-bottom: 0px;
                width: 100%;
        
                strong {
                    font-size: 60px;

                }    
            }
        }

    }
}

@media (min-width: 1150px) {
    main {

        .price-cards--container {
            max-width: 1090px;
            gap: 0px;
        }

        .pink--card {
            transform: scaleY(1.1);
        }
    }
}

