body {
  font-family: "Montserrat", sans-serif; }

.monthly {
  left: calc(100% - 29px) !important; }

main {
  background-color: #F7F7FE;
  text-align: center;
  padding: 64px 24px 71px 24px;
  box-sizing: border-box; }
  main header h1 {
    font-size: 32px;
    font-weight: 700;
    color: #6E728E;
    margin-bottom: 40px; }
  main header .annually-monthly--div {
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
    gap: 15px; }
    main header .annually-monthly--div .toggle--div {
      width: 53px;
      height: 32px;
      background-color: #A2A7F0;
      border-radius: 33px;
      position: relative; }
      main header .annually-monthly--div .toggle--div .toggle--circle {
        width: 24px;
        height: 24px;
        background-color: #F7F7FE;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 5px;
        transition: all 0.2s; }
    main header .annually-monthly--div p {
      font-size: 15px;
      font-weight: 700;
      color: rgba(110, 114, 142, 0.5); }
